.container.formtop
  .row
    .col.s12.m4.offset-m1
      .card-panel
        .row
= form_for @contest do |f|
  - if @contest.errors.any?
    #error_explanation
      %h3= "#{pluralize(@contest.errors.count, "error")} prohibited this contest from being saved:"
      %ul
        - @contest.errors.full_messages.each do |message|
          %li= message
    .row
      .input-field.col.s12
        %input#titulo.validate= f.text_field :titulo
        %label{"data-error" => "wrong", "data-success" => "right", :for => "titulo"} Título
    .row
      .input-field.col.s12
        %textarea#textarea1.materialize-textarea= f.text_area :descripcion
        %label{:for => "textarea1"} Descripción
    .file-field.input-field
      .btn
        %span File
        %input{:type => "file"}/
      .file-path-wrapper
        %input.file-path.validate= f.file_field :document 
      .col.s12.m4
        %a.waves-effect.waves-light.btn= f.submit 'Guardar'                      
.container
  .row
    .col.s12.right-align      
      .col.s12.m4
        %a.waves-effect.waves-light.btn= link_to 'Volver', contests_path

%script{:src => "js/jquery-3.2.1.min.js", :type => "text/javascript"}
%script{:src => "js/materialize.min.js", :type => "text/javascript"}
:javascript
  $('#textarea1').val('');
  $('#textarea1').trigger('autoresize');


